<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTMLtoPDF </title>
</head>
<body>
    <h1>HTML To PDF</h1>
     <h2>Sharing HTML files is very difficult task because of incompatibilities
     across different. So we need to have convert HTML files into PDF format
     for easily sharing.</h2>

<p>&nbsp;</p>
<h2>Files of web page is written in HTML. PDF is a file format used to present and
exchange documents <ul>
        <li>Reliably</li>
        <li>Independent of software, hardware or Operating System.</li>
    </ul></h2>
<p>&nbsp;</p>
<h2>When we convert a webpage into a pdf, all the associated files such as HTML,
images, AdobeFLA files,CSS, textfiles, imagesmaps, and forms are also concerned
in conversion process. The converted pdf files are similar to the original webpage.</h2>

<h1>Setup Process</h1>
<ol>
    <li>
        <h2>Installing xhtml2pdf library:- pip install xhtml2pdf</h2>
        <ul>
            <li>Python provides xhtml2pdf library to convert html files into
            pdf files.</li>
            <li>xhtml2pdf is a html2pdf converter which uses ReportLab Toolkit,
            HTML5lib and pyPdf.</li>
        </ul>
    </li>
</ol>

<div style = "font-size:30px">Library used:-</div>
<ol>
    <li style = "font-size:20px;">from io import BytesIO</li>
    <p>This module allows us to manage the file-related i/o operations.</p>
    <p>Important classes:</p>
    <p>i. BytesIO</p>
    <p>ii.StringIO</p>
    <li style = "font-size:20px;">from xhtml2pdf import pisa</li>
    <p>pisa is a html2pdf converter uses the ReportLab Toolkit, HTML5lib and pyPDF</p>
</ol>


</body>
</html>